.segmented-control {
      display: flex;
      background: #f5f9ff;
      border: 1px solid #cce0ff;
      border-radius: 12px;
      overflow: hidden;
      padding: 4px;
      margin-top: 25px;
      margin-left:5%;
      margin-right:5%;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .segmented-control button {
      margin-left: 5px;
      margin-right: 5px;
      border: none;
      background: none;
      padding: 12px 20px;
      font-size: 14px;
      cursor: pointer;
      color: #6A89A7;
      border-radius: 8px;
      transition: background 0.3s, color 0.3s;
    }

    .segmented-control button:focus {
      background: #1366ff;
      color: white;
      font-weight: bold;
    }

    .segmented-control button:not(.active):hover {
      background: #e0ebff;
    }